
:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #999999;
  --clr-gray-light: #e5e5e5;
  --clr-red: #dd0000;
  --clr-red-light: #e3acac;
  --clr-navy: #184482;
  --clr-navy-light: #80caff;

  --fs-base: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
 max-height: 327px;
}

body {
  --clr-background: var(--clr-gray-light);
  margin: 0;
  font-family: "Gotham Condensed Book";
  color: var(--clr-black);
  background-color: var(--clr-background);
}

.card {
  --max-width: 1000px;

  --clr-background: var(--clr-gray-light);
  width: min(var(--max-width), 100vw);
  background-color: var(--clr-background);
  font-size: var(--fs-base);
}

.card-body {
  --padding-x: 0.75em;
  --padding-y: 0.75em;
  --gap: 0.75em;
  padding: var(--padding-y) var(--padding-x);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.search {
  --font-size: calc(var(--fs-base) * 2.5);
  --padding-y: 0;
  --padding-x: 0.25em;
  --icon-size: calc(var(--font-size) * 0.75);
  --input-width: 12ch;
  display: flex;
  align-items: stretch;
}

.search-input {
  --input-width: 12ch;
  font-size: var(--font-size);
  line-height: 1;
  padding: var(--padding-y) var(--padding-x);
  font-family: "Gotham Condensed Bold";
  background-color: var(--clr-red);
  color: var(--clr-white);
  border: none;
  width: auto; 
  min-width: 4ch; 
  max-width: 30ch; 
}

.search-btn {
  font-size: var(--font-size);
  line-height: 1;
  cursor: pointer;
  padding: var(--padding-y) var(--padding-x);
  background-color: var(--clr-red);
  color: var(--clr-black);
  border: none;
}

.vertical-line-bg {
  background-color: var(--clr-red); 
}

.vertical-line {
  border-left: 2px solid white;
  height: 100%;
}

.search-btn > svg {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  position: absolute;
  z-index: 4;
  width: 400px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: calc(14px + ((992px - 100vw) * 0.05));
}

.question {
  font-family: 'Gotham Condensed Book';
  font-size: clamp(15px, 5vw, 20px);
  width: clamp(100px, 50vw, 100%);  
  line-height: 1;
  text-align: center;
  margin: 20 auto;
}

.subline {
  display: inline-block;
  vertical-align: middle; 
  white-space: nowrap;
  align-items: center;
  line-height: 1;
  padding: var(--padding-y) var(--padding-x);
}

.today {
  --font-size: calc(20px - ((992px - 100vw) * 0.01));
  --padding-x: 0.25em;
  --padding-y: 0.125em;
  --icon-size: calc(var(--font-size) * 0.4);
  font-size:  var(--font-size);
  padding: var(--padding-y) var(--padding-x);
  color: var(--clr-white);
  background-color: var(--clr-red);
  line-height: 1;
  left: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-family: "Gotham Condensed Bold";
  margin-inline: auto;
}

.today > svg {
  height: var(--icon-size);
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  width: 992px;
  height: 327px;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
  margin: 0 auto;
  flex-direction: column;
}

.modal-items {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-items: center;
  align-items: center;
}

.modal-title {
  font-family: 'Gotham Condensed Bold';
  font-size: 58px;
  font-weight: 700;
  line-height: 56.26px;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

.modal-input {
  border: #ced4da 2.56px;
  width: 734.55px;
  height: 59px;
  margin-top: 30px;
  left: 33px;
  gap: 9.88px;
  opacity: 0px;
  border-style: solid;
  padding: 14.83px 19.77px 14.83px 19.77px;
  gap: 4.94px;
  border-radius: 10.26px;
  font-family: Gotham XNarrow;
  background-image: url("./assets/icon.svg") center / contain no-repeat;
  font-size: 25.32px;
  font-weight: 400;
  line-height: 32.92px;
  text-align: left;
}

.modal-text {
  display: flex;
  justify-content: space-between;
  margin-top: 48.47px;
}

.modal-text-close {
  font-weight: 700;
  width: 340px;
  height: 60px;
  margin-right: 54.55px;
  line-height: 31.2px;
  color: var(--clr-gray-dark);
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Narrow Medium';
  font-size: 28.67px;
  font-weight: 700;
  line-height: 34.45px;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal-text-search {
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 60px;
  border-radius: 9.99px;
  opacity: 0px;
  background-color: #dd0000;
  border: none;
  font-family: 'Gotham Narrow Medium';
  color: #ffffff;
  font-size: 28.67px;
  font-weight: 700;
  line-height: 34.45px;
  letter-spacing: 0.03em;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.info {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  width: 934px;
  height: 327px;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
  margin-left: 30px;
  margin-top: 64px;
  flex-direction: column;
  border-radius: 20px;
}

.info-items {
  display: flex;
  margin: 50px 60px;
  flex-direction: column;
  justify-items: center;
}

.info-title {
  font-family: 'Gotham Condensed Bold';
  font-size: 40px;
  font-weight: 700;
  line-height: 56.26px;
  display: flex;
}

.info-details {
  font-size: 21px;
  line-height: 27.3px;
  margin-top: 28px;
  font-family: 'Gotham Narrow Book';
  font-weight: 900;
}

.info-btn {
  background-color: transparent;
  border: none;
}

.autocomplete-suggestions {
  position: absolute;
  width: 734.55px;
  height: 200px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #FFFFFF; /* Black background */
  color: #495057; /* White text for better contrast */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000; /* Ensure it overlays above other content */
  list-style-type: none;
  padding: 10px;
  margin: 150px;
  display: none; /* Hidden by default */
}

.option span {
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 25.32px;
}

.scroll-left, .scroll-right {
  width: 24px;
  height: 24px;
  background-color: #999999;
  gap: 0px;
  opacity: 0px;
  border: none;
  border-radius: 50%;
}

.bottom-legend {
  width: 104%;
  display: flex;
  justify-content: space-between;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 4; /* Place it behind the modal */
}

