@font-face {
  font-family: 'Gotham Condensed Book';
  src: url('./fonts/GothamCond-Book.otf') format("opentype");
}
@font-face {
  font-family: 'Gotham Condensed Bold';
  src: url('./fonts/GothamCond-Bold.otf') format("opentype");
  font-weight: 700;
}
@font-face {
  font-family: 'Gotham Narrow Black';
  src: url('./fonts/GothamXNarrow-Black-Bold.otf') format("opentype");
}
@font-face {
  font-family: 'Gotham Narrow Medium';
  src: url('./fonts/GothamXNarrow-Medium.otf') format("opentype");
}
@font-face {
  font-family: 'Gotham Narrow Light';
  src: url('./fonts/GothamXNarrow-Light.otf') format("opentype");
}
@font-face {
  font-family: 'Gotham Narrow Book';
  src: url('./fonts/GothamXNarrow-Book.otf') format("opentype");
}
@font-face {
  font-family: 'Gotham Narrow Bold';
  src: url('./fonts/GothamXNarrow-Bold.otf') format("opentype");
}

:root {
  --clr-white: #ffffff;
  --clr-black: #000000;
  --clr-gray: #999999;
  --clr-gray-light: #e5e5e5;
  --clr-red: #dd0000;
  --clr-red-light: #e3acac;
  --clr-navy: #184482;
  --clr-navy-light: #80caff;

  --fs-base: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
 max-height: 327px;
}

body {
  --clr-background: var(--clr-gray-light);
  margin: 0;
  font-family: "Gotham Condensed Book";
  color: var(--clr-black);
  background-color: var(--clr-background);
}

.card {
  --max-width: 1000px;

  --clr-background: var(--clr-gray-light);
  width: min(var(--max-width), 100vw);
  background-color: var(--clr-background);
  font-size: var(--fs-base);
}

.card-body {


  padding: 0.75em 2em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.search-container {
position: relative;
}

.search {
  --font-size: calc(var(--fs-base) * 2.5);
  --padding-y: 0;
  --padding-x: 0.25em;
  --icon-size: calc(var(--font-size) * 0.75);
  --input-width: 12ch;
  display: flex;
  align-items: stretch;
  left: 0;
  position: absolute; 
  z-index: 2; 
}

.search-input {
  --input-width: 12ch;
  font-size: var(--font-size);
  line-height: 1;
  padding: var(--padding-y) var(--padding-x);
  font-family: "Gotham Condensed Bold";
  background-color: var(--clr-red);
  color: var(--clr-white);
  border: none;
  width: auto; 
  min-width: 4ch; 
  max-width: 30ch; 
}

.search-button {
  font-size: var(--font-size);
  line-height: 1;
  cursor: pointer;
  padding: var(--padding-y) var(--padding-x);
  background-color: var(--clr-red);
  color: var(--clr-black);
  border: none;
}

.vertical-line-bg {
  background-color: var(--clr-red); 
}

.vertical-line {
  border-left: 2px solid white;
  height: 100%;
}

.search-button > svg {
  display: block;
  width: var(--icon-size);
  height: var(--icon-size);
}

.headline-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headline {
  position: absolute;
  z-index: 4;
  width: 400px;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  top: calc(14px + ((992px - 100vw) * 0.05));
}

.question {
  --font-size: calc(var(--fs-base) * 2.25);
  --max-width: 24ch;
  font-family: 'Gotham Condensed Bold';
  font-size: var(--font-size);
  max-width: var(--max-width);
  line-height: 1;
  text-align: center;
  margin-inline: auto;

}

.subline {
  display: inline-block;
  vertical-align: middle; 
  white-space: nowrap;
  align-items: center;
  line-height: 1;
  padding: var(--padding-y) var(--padding-x);
}

.today {
  --font-size: calc(20px - ((992px - 100vw) * 0.01));
  --padding-x: 0.25em;
  --padding-y: 0.125em;
  --icon-size: calc(var(--font-size) * 0.4);
  font-size:  var(--font-size);
  padding: var(--padding-y) var(--padding-x);
  color: var(--clr-white);
  background-color: var(--clr-red);
  line-height: 1;
  left: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  gap: var(--gap);
  font-family: "Gotham Condensed Bold";
  margin-inline: auto;
}

.today > svg {
  height: var(--icon-size);
}

.swatches-container {
  --font-size:  calc(20px - ((992px - 100vw) * 0.01));
  --gap-x: 1em;
  --swatch-width: 1.5em;
  --swatch-height: 2px;
  font-size: var(--font-size);
  line-height: 1;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0 var(--gap-x);   
}

.swatch {
  display: flex;
  flex-direction: column;
}
.swatch-row {
  display: flex;
  align-items: center; /* Align items side by side */
  gap: 10px;
}

.swatch-label {
  margin-right: 24px;
}

.swatch-red {
  width: 27.94px;
  height: 2px;
  top: 11.67px;
  left: 0.5px;
  gap: 0px;
  border: 2px 0px 0px 0px;
  opacity: 0px;
  background-color: var(--clr-red);
  margin-right: 0.25em;
}

.swatch-blue {
  width: 27.94px;
  height: 19.79px;
  left: 0.5px;
  gap: 0px;
  opacity: 0px;
  background-color: var(--clr-navy-light);
  border-top: 3px solid var(--clr-navy) !important;
  margin-right: 0.25em;
  align-items: flex-end;
  position: relative;
}

.swatch-transparent {
  width: 27.94px;
  height: 19.79px;
  left: 0.5px;
  gap: 0px;
  opacity: 0px;
  margin-right: 0.25em;
  align-items: flex-end;
  position: relative;
}

.dotted-line {
  border-top: 1px dotted  var(--clr-navy);
  position: absolute;
  top: 50%;
  width: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
}

.modal-items {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  justify-items: center;
  align-items: center;
}

.modal-title {
  font-family: 'Gotham Condensed Bold';
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  justify-items: center;
  align-items: center;
  display: flex;
}

.modal-input {
  border: #ced4da 2.56px;
  width: 734.55px;
  height: 59px;
  margin-top: 30px;
  left: 33px;
  gap: 9.88px;
  opacity: 0px;
  border-style: solid;
  padding: 14.83px 19.77px 14.83px 19.77px;
  gap: 4.94px;
  border-radius: 10.26px;
  font-family: 'Gotham Narrow Medium';
  background-image: url("./assets/icon.svg") center / contain no-repeat;
  font-weight: 400;
  font-size: 1.125rem;
  text-align: left;
}

.modal-text {
  display: flex;
  justify-content: space-between;
  margin-top: 48.47px;
}

.modal-text-close {
  width: 340px;
  height: 60px;
  margin-right: 54.55px;
  line-height: 31.2px;
  color: var(--clr-gray-dark);
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  font-family: 'Gotham Narrow Medium';
  font-weight: 700;
  font-size: 1.25rem;
  text-align: center;
}

.modal-text-search {
  align-items: center;
  justify-content: center;
  width: 340px;
  height: 60px;
  border-radius: 9.99px;
  opacity: 0px;
  background-color: #dd0000;
  border: none;
  font-family: 'Gotham Narrow Medium';
  font-weight: 700;
  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.info {
  display: none;
  position: fixed;
  z-index: 4;
  left: 0;
  width: 95vw;
  height: 100vh;
  overflow: auto;
  justify-items: center;
  background-color: #fefefe;
  top: 9.17vh;
  left: 2.52vw;
  right:  2.52vw;
  flex-direction: column;
  border-radius: 20px;
}

.info-items {
  display: flex;
  margin: 50px 60px;
  flex-direction: column;
  justify-items: center;
}

.info-title {
  font-family: 'Gotham Condensed Bold';
  font-size: 40px;
  font-weight: 700;
  line-height: 56.26px;
  display: flex;
}

.info-details {
  font-size: 21px;
  line-height: 27.3px;
  margin-top: 28px;
  font-family: 'Gotham Narrow Book';
  font-weight: 900;
}

.info-btn {
  background-color: transparent;
  border: none;
}

.autocomplete-suggestions {
  position: absolute;
  width: 734.55px;
  height: 200px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #FFFFFF; /* Black background */
  color: #495057; /* White text for better contrast */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  max-height: 150px;
  overflow-y: auto;
  z-index: 1000; /* Ensure it overlays above other content */
  list-style-type: none;
  padding: 10px;
  margin: 150px;
  display: none; /* Hidden by default */
}

.option span {
  padding-left: 10px;
  margin-bottom: 20px;
  font-size: 25.32px;
}

.scroll-left, .scroll-right {
  width: 24px;
  height: 24px;
  background-color: #999999;
  gap: 0px;
  opacity: 0px;
  border: none;
  border-radius: 50%;
}

.bottom-legend {
  display: flex;
  justify-content: space-between;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 4; /* Place it behind the modal */
}


.search-page-container {
  margin: 0;
  background-color: #f3f2f2;
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 50px;
  overflow-y: hidden;
}

.search-page-header {
  color: #000000;
  font-family: 'Gotham Condensed Bold';
  font-weight: 700;
  font-size: 4rem;
  margin: 0;
  text-align: center;
}

.search-btns-container,
.inputFieldContainer,
#citySearchForm {
  width: 100%;
  max-width: 734px;
}

.search-btns-container,
.inputFieldContainer {
  height: 48px;
}

.search-btns-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.input-field-container {
  position: relative;
  border: 1px solid #495057;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  width: 100%;
  max-width: 734px;
  height: 48px;
  box-sizing: border-box;
  padding: 10px 0;
  margin-top: -15px;
}

.input-magnifying {
  width: 24px;
  margin-left: 17px;
}

.input-field {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  background: transparent;
  font-family: 'Gotham Narrow Light';
  font-weight: 400;
  font-size: 1.125rem;
  color: #212529;
  align-items: center;
}

.inner-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  gap: 5px;
}

.input-field::placeholder {
  font-family: 'Gotham Narrow Light';
  font-weight: 400;
  font-size: 1.125rem;
  color: #212529;
}

.input-field:focus::placeholder {
  color: transparent;
}

.input-legend {
  font-size: 1rem;
  color: transparent;
  z-index: 1;
  transition: all 0.1s ease;
  padding: 0 5px;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

.input-field-container:focus-within .input-legend,
.input-field:not(:placeholder-shown) + .input-legend {
  top: -3px;
  left: 10px;
  font-size: 0.75rem;
  color: #212529;
  font-family: 'Gotham Narrow Light';
  font-weight: 400;
  background: #f3f2f2;
  padding: 0 5px;
}

.cancel-btn,
.search-btn {
  font-family: 'Gotham Narrow Medium';
  font-weight: 700;
  font-size: 1.25rem;
  padding: 0px 40.15px 0px 40.15px;
  width: 340px;
  height: 48px;
  outline: none;
  border: none;
}

.cancel-btn {
  color: #495057;
  background-color: #f3f2f2;
}

.search-btn {
  color: #ffffff;
  background-color: #dd0000;
  border-radius: 11.47px;
}

.close {
  color: #495057;
  background-color: transparent;
  margin-right: 15px;
}

.suggestions-wrapper {
  position: absolute;
  top: 102%;
  left: 0;
  overflow-y: scroll;
  width: 100%;
  max-height: 75px;
  background-color: #ffffff;
  border-radius: 8px;
}

#suggestions {
  width: inherit;
  border-radius: 8px;
  margin: 0 0 -15px 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-top: 0;
  height: 24px;
  padding-top: 5px;
}

.suggestion-container {
  display: flex;
  align-items: center;
  height: 24px;
  margin-top: -10px;
  padding-left: 10px;
}

.suggestion-container:hover {
  background-color: #f8f9fa;
}

.suggestion-container.active {
  background-color: #f8f9fa;
  outline: none;
}

.suggestion-container:focus {
  outline: none;
}

.suggestion-icon {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}

.suggestion-element {
  font-family: 'Gotham Narrow Light';
  font-weight: 400;
  color: #495057;
  font-size: 1.125rem;
  padding: 5px;
}

.input-warning {
  position: absolute;
  top: 103%;
  left: 6%;
  color: #dd0000;
  font-family: 'Gotham Narrow Light';
  font-weight: 400;
  font-size: 1.125rem;
  display: none;
}

@media (max-width: 586px) {
  .layoutStyle {
    flex-direction: column;
  }
  #container {
    height: 360px;
    max-width: 576px;
    min-width: 360px;
    overflow: hidden;
  }

  .search-container {
    max-width: 360px;
  }

  #forecast-container {
    margin-top: 25px;
  }

  #weather-video {
    height: 100%;
  }

  .search-page-header {
    font-size: 2.5rem;
    width: 322px;
  }

  .search-page-container {
    display: none;
    height: 360px;
    justify-content: start;
    max-width: 576px;
    min-width: 360px;
    gap: 25px;
    padding: 0 0;
  }

  .search-btns-container {
    flex-direction: column-reverse;
    height: auto;
  }

  #city-search-form {
    width: 300px;
  }

  .cancel-btn,
  .search-btn {
    width: 300px;
    justify-content: center;
    align-items: center;
  }

  .input-field-container {
    width: 300px;
    margin-top: 10px;
  }

  .suggestions-wrapper {
    max-height: 170px;
  }

  .search-page-header,
  .search-btns-container,
  .input-field.container,
  .cancel-btn,
  .search-btn {
    margin-top: 20px;
  }
}

/* Media query for screens 656px and below */
@media (max-width: 656px) {
  .swatches-container {
    align-items: center;
    flex-flow: column wrap;
    flex-direction: column;
    gap: 10px;
  }

  .swatch {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .modal {
    width: 100VW;
  }
  
  .modal-items {
    margin-top: calc((15 / 992) * 100vw);;
  }
  
  .modal-title {
    font-size: 2.5rem;
    width: 322px;
  }
  
  .modal-input {
    width: calc((734 / 992) * 100vw);
    height: calc((59 / 992) * 100vw);
    margin-top: calc((30 / 992) * 100vw);
    left: calc((33 / 992) * 100vw);
    font-size: calc((25.32/ 992) * 100vw);
  }
  
  .modal-text {
    margin-top: calc((48.47 / 992) * 100vw);
  }
  
  .modal-text-close {
    width: calc((340 / 992) * 100vw);
    height: calc((60 / 992) * 100vw);
    margin-right: calc((54.55/ 992) * 100vw);
  }
  
  .modal-text-search {
    width: calc((340 / 992) * 100vw);
    height: calc((60 / 992) * 100vw);
    border-radius: calc((9.99/ 992) * 100vw);
  }
} 


@media (max-width: 800px) {
  .question{
    left: 0;
    top: 12vh;
    position: absolute; 
    padding: 0.5rem 05rem;
  }
  .card-body{
    padding: 2.75em 2em;
    scale: 0.97;
    gap: 0
  }
  .temp-chart{
    gap: 0;
    padding-top: 1rem;
    margin-top: 1rem;
    scale: 0.97;
  }
  .swatch {

   display: block;
  }
}
